body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* .login-box button {
    width: 100%;
    padding: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #303f9f;
} */

#error {
    color: red;
    margin-top: 10px;
}
.login-box button {
    width: 100%;              /* FULL WIDTH */
    padding: 12px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #303f9f;
}
.create-account {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.create-account a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
}

.create-account a:hover {
    text-decoration: underline;
}
/* NAVBAR */
.navbar {
    width: 100%;
    height: 60px;
    background-color: #4b6cb7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.app-name {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
/* FULL PAGE CENTERING */
.page-center {
    height: calc(100vh - 60px); /* minus navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f7fc;
}
.bg {
    height: 100%;
    background: linear-gradient(135deg, #4facfe, #c471f5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Soft shapes */
.bg::before,
.bg::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.bg::before {
    top: -120px;
    left: -120px;
}

.bg::after {
    bottom: -120px;
    right: -120px;
}
