<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitaladdiction">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        xmlns:tools="http://schemas.android.com/tools"
        tools:ignore="ProtectedPermissions" />

    <!-- NEW: Permission to keep app running -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Login is now the starting point -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BlockScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- NEW: Register the Service -->
        <service android:name=".TrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>

    </application>

</manifest>